$breakpoint-phone: 640px;
$breakpoint-tablet: 768px;

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  margin: auto;
  .logo {
    width: 140px;
    height: 33px;
  }
  .navigation {
    display: none;
    flex-direction: row;
    gap: 40px;
    font-size: 20px;
    font-weight: 400;
    font-family: Roboto, Helvetica, sans-serif;
    a {
      display: block;
      margin: auto 0;
      cursor: pointer;
    }
  }
}

@media (min-width: $breakpoint-phone) {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    margin: auto;
    .logo {
      width: 264px;
      height: 55px;
    }
    .navigation {
      display: flex;
      flex-direction: row;
      gap: 40px;
      font-size: 20px;
      font-weight: 400;
      font-family: Roboto, Helvetica, sans-serif;
    }
  }
}
