.leaf {
  position: absolute;
  left: 59.11%;
  top: 183.79%;
  bottom: 3.12%;
}
.tomato {
  position: absolute;
  left: 52.6%;
  top: 33.29%;
  bottom: 73.05%;
}
.wortel {
  position: absolute;
  top: 90.29%;
}
.broccoli {
  position: absolute;
  right: 33.07%;
  top: 380.82%;
  bottom: 0%;
}