.container {
  width: 100%;
  height: 1751px;
  background: #FED002;
  .image-1 {
    top: 995px;
    position: absolute;
  }
  .image-2 {
    left: 140px;
    top: 1053px;
    position: absolute;
  }
  .image-3 {
    left: 780px;
    top: 1373px;
    position: absolute;
  }
}